/* Typography */
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1rem;
  }

h1 {
  font-size: 400%;
}

h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Image */
img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

:root {
  --color-accent: oklch(65% 50% 0);
}

nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.2em solid var(--color-accent);
}

/* Contact Form */
label, input, textarea, button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
  margin-block: 0.1rem;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

button {
  grid-column: 1 / -1;
  background-color: oklch(65% 50% 0);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
}

/* Project */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1rem;
}

/* Resume */
main {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

section {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

time {
  display: block;
  font-style: italic;
  color: #555;
  margin-top: 0.5rem;
}