:root {
  --color-accent: oklch(65% 50% 0);
  --border-color: oklch(50% 10% 200 / 40%);
}

/* Typography */
body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);
    padding: 1rem;
}

html {
  color-scheme: light dark;
}

h1 {
  font-size: 400%;
}

h2 {
  font-size: 200%;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 1rem;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--border-color);
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
}

nav a:hover {
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  border-bottom: 0.2em solid var(--border-color);
}

/* Links */
a {
  color: var(--color-accent);
  text-decoration: none;
}

/* Color Scheme */
.color-scheme {
  position: absolute;
  display: flex;
  top: 1rem;
  right: 1rem;
  font-family: inherit;
}

.color-scheme select {
  margin-left: 0.4rem;
  padding: 0.2rem;
}

/* Image */
img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
}

/* Contact Form */
input, textarea, button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
  margin-block: 0.1rem;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

button {
  grid-column: 1 / -1;
  background-color: oklch(65% 50% 0);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem;
}

/* Project */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  gap: 0.1rem;
}

/* Resume */
main {
  margin: 1rem auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

section {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: canvas;
  color: canvastext;
}

time {
  display: block;
  font-style: italic;
  color: #555;
  margin-top: 0.5rem;
}

/* GitHub Stats */
#profile-stats {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 40px auto;
  max-width: 800px;
}

.stats-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.stat-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #949494;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.stat-value {
  font-size: 36px;
  font-weight: bold;
}